<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * routes.xml
 *
 * @copyright Copyright © 2018 Bold Commerce BV. All rights reserved.
 * @author    dev@boldcommerce.nl
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="bold_pim" frontName="bold_pim">
            <module name="Bold_PIM" />
        </route>
    </router>
</config>
